html,
body,
p, h1 {
  margin: 0px;
}

.box {
  background: red;
  height: 100%;
}

h1 {
    padding-top: 40px;
    font-size: 1.5em;
    margin-left: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
  background-color: #263238;
}

.blue {
  background-color: #1565c0;
}

.lightblue {
  background-color: #42a5f5;
}

.gray {
  background-color: #607d8b;
}

.mtop {
  margin-top: 20px;
  margin-bottom: 0;
}

.mbottom {
  margin-top: 0px;
}

.heavyfont {
  font-size: 4em;
  margin-left: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.arialfont {
  font-size: 2em;
  margin-left: 20px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.location
{
    display: inline;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}
.date
{
    width: 250px;
    padding: 0;
    background-color: gray;
}

ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white; 
}

.first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 30vh;
}

.down {
  font-size: 1em;
  margin-top: 20px;
}

.second {
  height: 40vh;
}

.third {
  height: 40vh;
}
